{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Tagging for {{ tag_list["name"] }}{% endblock %}</h1>
  <p>{{ tag_list["description"] }}</p>
{% endblock %}

{% block content %}
    <data id="yt-video-id" value="{{ yt_video_id }}"></data>
    <data id="video-id" value="{{ video_id }}"></data>
    <data id="tag-list-id" value="{{ tag_list.id }}"></data>

<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <iframe
            id="player"
            type="text/html"
            height="600"
            width="900"
            src="https://www.youtube.com/embed/{{ yt_video_id }}?enablejsapi=1&origin=https://look-mark.com"
            frameborder="0"
            sandbox="allow-scripts allow-same-origin allow-presentation"
            referrerpolicy="no-referrer"
    >
    </iframe>

    <form class="link-input">
        {% if g.user %}
            <input type="text" name="tag" id="tag-input"
                   required
                   placeholder="Add tag"
                   oninvalid="must give tag a name"
                   list="tagSuggestions"
            >
            <button id="add-tag-button" class="button">Add Tag</button>
        {% else %}
            <p><a class="button" href="{{ url_for('authenticate.login') }}">Log In</a> to stark tagging</p>
        {% endif %}
        <datalist id="tagSuggestions"></datalist>
    </form>
    <table id="tag-list">
      <tbody>
        <!-- Tags will be displayed here -->
      </tbody>
    </table>

    <script src="/static/tagging.js"></script>

{% endblock %}