<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

{% block content %}
<table>
    <thead>
        <tr>
            <th>tag</th>
            <th>timestamp</th>
        </tr>
    </thead>
    <tbody>
        {% for tag in tags %}
        <tr>
            <td> {{tag["tag"]}} </td>
            <td> <a href="#{{tag["youtube_timestamp"]}}" class="lt" onclick="jumptoTime({{tag["youtube_timestamp"]}})">{{tag["youtube_timestamp"]}}</a> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}